<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>One Musician</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
    <body>
    <h1>One Musician!</h1>
        <div>
            <h2>Musician Info:</h2>
            <p th:text="${musician != null ? musician.firstName : 'No musician found'}"></p>
            <p th:text="${musician != null ? musician.lastName : 'No musician found'}"></p>
            <p th:text="${musician != null ? musician.country : 'No musician found'}"></p>
            <p th:text="${musician != null ? musician.genre : 'No musician found'}"></p>
            <p th:text="${musician != null ? musician.gender : 'No musician found'}"></p>
            <p th:text="${#temporals.formatISO(musician.dateOfBirth)}"></p>
            <p th:text="${musician.dateOfDeath != null ? #temporals.formatISO(musician.dateOfDeath) : 'N/A'}"></p>
            <p th:text="${musician != null ? musician.instruments : 'No musician found'}"></p>
        </div>
    </body>
</html>